.blue {
    --theme: #005B85;
    --theme-light: #008BCC;
}

.green {
    --theme: #466E48;
    --theme-light: #509C53;
}

* {
    transition: 0.9s;
    user-select: none;
}

.head {
    width: 100%!important;
}

.head:hover {
    height: 60%!important;
}

div:not(.cont, .flex, #boar) {
    color: white;
    background-color: var(--theme);
    border: solid 2px white;
}

div:not(.cont, .grid, .flex) {
    height: 20%;
    padding: 9px;
}

.flex {
    padding: 0!important;
    height: 40%!important;
}

@media screen and (max-width:821px) {
    #boar {
        top: 80%!important;
    }
}

.flex div {
    height: inherit;
}

div:not(.cont, #boar):hover, div:not(.cont):hover input {
    background-color: white;
    color: var(--theme);
    font-weight: bold;
}

h1 {
    font-weight: normal;
}

body {
    background-color: #eee;
    margin: 0;
    animation: anim 0.9s;
}

span {
    font-size: 30pt;
}

#link {
    color: gray;
    font-size: 90pt;
    position: fixed;
    bottom: 0;
    z-index: -1;
}

.cont:not(.main), p {
    display: none;
}

.main, .flex {
    display: flex;
}

.cont:not(.game), .flex {
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}

.cont:not(.game) div, .flex div {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-width: 400px;
    align-items: center;
}

@keyframes anim {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

input {
    font-size: 30pt;
    border-bottom: solid var(--theme-light);
    border-width: 0 0 2px 0;
    background-color: var(--theme);
    color: white;
    font-family: "Microsoft Yahei", 'Segoe UI', sans-serif;
    outline: none;
}

.ctin {
    text-align: left!important;
}

html, body, .cont {
    height: 100%;
}

::-webkit-scrollbar {
    width: 9px;
    border-left: solid 2px white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--theme);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-light);
}

.grid {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    font-size: 30px;
    text-align: center;
}

.cfed, .cfed input {
    background-color: #FA3744!important;
    color: white!important;
}

.cfed:hover, .cfed:hover input {
    background-color: white!important;
    color: #FA3744!important;
}

.modl {
    display: none;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    z-index: 100;
}

::selection {
    color: white;
    background-color: var(--theme);
}

#boar {
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}

.game {
    text-align: center;
}