* {
    transition: 0.9s;
}

.head {
    width: 100%!important;
    line-height: 1!important;
}

.head:hover {
    height: 60%!important;
    line-height: 3!important;
}

div:not(.cont) {
    color: white;
    background-color: #005B85;
    width: calc(50% - 22px);
    display: inline-block;
    text-align: center;
    line-height: 8;
    height: 20%;
    border: solid 2px white;
    padding: 9px;
    vertical-align: middle;
}

div:not(.cont):hover {
    background-color: white;
    color: #005B85;
    font-weight: bold;
}

h1 {
    font-weight: normal;
}

body {
    background-color: #eee;
    margin: 0;
    overflow: hidden;
    animation: anim 0.9s;
}

span {
    color: gray;
    font-size: 90pt;
    position: fixed;
    bottom: 0;
    z-index: -1;
}

.cont:not(.main) {
    display: none;
}

@keyframes anim {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

input {
    font-size: 30pt;
    border-bottom: solid #008bcc;
    border-width: 0 0 2px 0;
    background-color: #005B85;
    color: white;
    font-family: "Microsoft Yahei", 'Segoe UI', sans-serif;
}

.ctin {
    line-height: 1!important;
    text-align: left!important;
}

html, body, .cont {
    height: 100%;
}